.input-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 60%;
}

.input-content {
    display: flex;
    flex-direction: row;
    width: 60%;
}