#root {
    margin: 0 auto;
    --header-height: 48px;
    --recipe-select-height: 52px;
    --tab-height: 62px;
    --footer-height: 64px;
    --description-height: 102px;
}

.app-container {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100vw;
    display: flex;
    align-items: center;
    height: var(--header-height);
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.sider {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 20px;
    gap: 20px;
    align-items: stretch;
}
