#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* Temporary styling */
.logs-container {
  margin-top: 10px;
  padding: 10px;
  /* background-color: #f9f9f9;
  border: 1px solid #ddd; */
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  /* font-family: monospace; */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.log-entry {
  margin-bottom: 5px;
  padding: 8px;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
  /* Prevent long messages from breaking layout */
}

.box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: start;
}

.collapsible {
  width: 450px;
  margin-top: 5%;
}

.recipeBox {
  width: 45%;
  float: left;
}

.recipeJSON {
  max-height: 300px;
  width: 450px;
  overflow-y: auto;
}

.configBox {
  width: 45%;
  float: right;
}

.configJSON {
  max-height: 300px;
  width: 450px;
  overflow-y: auto;
}