#root {
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-start;
  align-items: center;
}

.header {
  color: #000000E0;
  background-color: #ffffff;
  width: 90vw;
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  gap: 20px;
  width: 900px;
  padding: 20px;
  margin-top: 36px;
}

.footer {
  height: 128px;
  background-color: #ffffff;
  width: 100%;
}